/*

	Name: base.scss
	Version: 1.0.0

*/

html {
  font-size: 62.5%;
}

body {
  background: $background;
  color: $dark;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 90%;
}

.mute {
  color: $background;
}

a,
a:visited {
  color: $complementary;
  outline: 0;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 0;
}

ol {
  list-style-type: decimal;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  width: 100%;
}