@font-face {
  font-family: "barrymcgee-cv";
  font-style: normal;
  font-weight: normal;
  src: url("../font/barrymcgee-cv.eot?18092101");
  src: url("../font/barrymcgee-cv.eot?18092101#iefix") format("embedded-opentype"), url("../font/barrymcgee-cv.woff?18092101") format("woff"), url("../font/barrymcgee-cv.ttf?18092101") format("truetype"), url("../font/barrymcgee-cv.svg?18092101#barrymcgee-cv") format("svg");
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "barrymcgee-cv";
    src: url("../font/barrymcgee-cv.svg?18092101#barrymcgee-cv") format("svg");
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @include rem(padding-right, 1rem);
  display: inline-block;
  font-family: "barrymcgee-cv";
  font-style: normal;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  font-weight: normal;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-file-pdf:before {
  content: "\e800";
}

/* "" */
.icon-github:before {
  content: "\e801";
}

/* "" */
.icon-mail:before {
  content: "\e802";
}

/* "" */
.icon-mobile:before {
  content: "\e803";
}

/* "" */
.icon-mouse:before {
  content: "\e804";
}

/* "" */
.icon-twitter:before {
  content: "\e805";
}

/* "" */
.icon-facebook:before {
  content: "\e806";
}

/* "" */
.icon-linkedin:before {
  content: "\e807";
}
