/*

	Name: layout.css
	Version: 1.0.0
*/

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.wrap {
  background-color: $light;
  box-shadow: 0 0 4px $dark;
  margin: 25px auto;
  padding: 60px 20px;
  width: auto;
}

.contact-info {
  @extend .u-cf;
  list-style: none;
  margin-top: 20px;

  li {
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 100%;
  }
}

.cv-item-description {
  margin-bottom: 40px;
  text-align: center;

  h6 {
    background-color: #f5f5f5;
    border-radius: 5px;
    line-height: 24px;
    margin-bottom: 10px;
    padding: 0 10px;
    text-transform: uppercase;

    &.company-logo {
      background: none;
    }
  }
}

.cv-section-title {
  @include rem(font-size, 1.85rem);
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  color: $highlight;
  font-weight: 300;
  line-height: 18px;
  margin: 0 0 40px;
  padding: 40px 0 8px;
  text-align: center;
}


.skill {
  margin-bottom: 40px;

  h4 {
    line-height: 22px;
    margin-bottom: 10px;
  }

  p {
    color: #aaa;
    margin-bottom: 0;
    text-align: right;
  }
}


.container {
  padding-top: 40px;
}

.cta-button {
  @include rem(padding, 1rem);
  background: $highlight;
  box-shadow: 0 0 4px $dark;
  color: $light;
  display: block;
  font-style: italic;
  margin: auto;
  text-align: center;
  width: 100%;

  &:visited {
    color: $light;
  }

  &:active {
    box-shadow: none;
    color: $light;
    left: 2px;
    position: relative;
    top: 2px;
  }
}

header .logo {
  color: $highlight;
  font-size: 32px;
  line-height: 29px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.logo small {
  color: $dark;
  font-size: 14px;
  font-weight: 300;
}

.cv-item {
  margin-bottom: 40px;
}

.highlight {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0 10px;
}

.cv-item-details {

  ul {
    @include rem(padding-left, 1.6rem);
  }

  h4 {
    @include rem(font-size, 2.5rem);
    border-bottom: 1px dotted $background;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .inline-list {
    list-style: none;
    padding: 0;

    li {
      background: #b3b3b3;
      color: $light;
      float: left;
      margin-bottom: 4px;
      margin-right: 4px;
      padding: 0 4px;
    }
  }
}

.level {
  background-color: #e2e2e2;
  border-radius: 5px;
  height: 5px;
  margin: 5px 0;
  text-indent: -9999px;
  width: 100%;

  span {
    background-color: $complementary;
    border-radius: 5px 0 0 5px;
    display: block;
    height: 5px;
  }
}

.l-1 {
  width: 10%;
}

.l-2 {
  width: 20%;
}

.l-3 {
  width: 30%;
}

.l-4 {
  width: 40%;
}

.l-5 {
  width: 50%;
}

.l-6 {
  width: 60%;
}

.l-7 {
  width: 70%;
}

.l-8 {
  width: 80%;
}

.l-9 {
  width: 90%;
}

.l-10 {
  width: 100%;
}

@media only screen and (max-width: $medium) {

  .ctas {

    .six {
      width: 46%;

      &:first-child {
        margin-right: 8%;
      }
    }
  }
}

@media only screen and (min-width: $small) {
  .wrap {
    @include rem(padding, 6rem 4rem);
  }

  .contact-info {
    @include rem(min-width, 20rem);
  }
}

@media only screen and (min-width: $medium) {

  .header {
    @include rem(padding, 0 2rem);
    text-align: left;
  }

  .cv-item-description h6 {
    @include rem(margin-left, 2rem);
  }

  .cv-profile {
    @include rem(padding, 4rem);
  }

  .contact-info {
    margin-top: 0;

    li {
      text-align: left;
    }
  }
}

@media only screen and (min-width: $large) {
  .contact-info {

    li {
      @include rem(padding-left, 3rem);
    }
  }
}

@media print {
  body {
    background-color: $light;
    padding: 0;
  }

  .wrap {
    box-shadow: none;
    padding: 40px 80px;
  }

  .level {
    margin-top: -10px;
    text-indent: 0;

    span {
      width: 100%;
    }
  }
}
