/*

	Name: layout.css
	Version: 1.0.0



/* #Site Styles (>1024px width screen resolutions)
==================================================================================================== */

.wrap {
  box-shadow: 2px 2px 1px #606060;
  background-color: #fff;
  box-shadow: 2px 2px 1px #606060;
  margin: 80px auto;
  padding: 80px 80px 60px 80px;
  width: 760px;
}

.wrap + .wrap {
  margin-top: -40px;
}

.download-button {
	color:#fff;
	padding:10px;
	background:$highlight;
	font-style: italic;
	display: block;
	margin:auto;
	text-align: center;
	width:140px;
	box-shadow: rgb(96, 96, 96) 2px 2px 1px 0px;
	&:visited {
		color:#fff;
	}
	&:active {
		color:#fff;
		box-shadow: none;
		position: relative;
		top:2px;
		left:2px;
	}
}

header .logo {
  color: $highlight;
  line-height: 29px;
  margin-bottom: 0;
  margin-top:0;
  font-size:32px;
  text-transform: uppercase;
}
.logo small {
  color: #444;
  font-size: 14px;
  font-weight: 300;
}
.address-info {
  border-right: 1px solid #efefef;
  padding-bottom: 0;
  padding-right: 20px;
  text-align: right;
}
.contact-info {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}
.cv-profile {
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin: 40px 0 40px 0;
  padding: 40px 0;
  text-align: center;
}
.cv-section-title {
  border-bottom: 1px solid $highlight;
  color: $highlight;
  line-height: 18px;
  margin: 0 0 40px 0;
  padding-bottom: 8px;
}
.cv-item {
  margin-bottom: 40px;
}
.cv-item-description {
  text-align: right;
}
.cv-item-description h6 {
  background-color: #f5f5f5;
  border-radius: 5px;
  line-height: 24px;
  margin-bottom: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  &.company-logo {
    background: none;
  }
}
.highlight {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0 10px;
}
.cv-item-details h4 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 24px;
}
.cv-item-details .inline-list {
  list-style: none;
  li {
    background: #b3b3b3;
    color: #fff;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 4px;
  }
}
.skill {
  margin-bottom: 40px;
}
.skill h4 {
  line-height: 22px;
  margin-bottom: 10px;
}
.skill p {
  color: #aaa;
  margin-bottom: 0;
  text-align: right;
}
.level {
  background-color: #e2e2e2;
  border-radius: 5px;
  height: 5px;
  margin: 5px 0;
  text-indent: -9999px;
  width: 100%;
}
.l-1 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 10%;
}
.l-2 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 20%;
}
.l-3 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 30%;
}
.l-4 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 40%;
}
.l-5 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 50%;
}
.l-6 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 60%;
}
.l-7 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 70%;
}
.l-8 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 80%;
}
.l-9 {
  background-color: $complementary;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 5px;
  width: 90%;
}
.l-10 {
  background-color: $complementary;
  border-radius: 5px;
  display: block;
  height: 5px;
  width: 100%;
}
.portfolio-items {
  background-color: #e9e9e9;
  border-bottom: 1px solid #efefef;
  margin: 0px -80px 40px -80px;
  padding: 80px;
}
.portfolio-items h2 {
  font-weight: 300;
}
.portfolio-items .slides ul {
  margin-bottom: 20px;
  margin-left: 0;
}
.contact-info-2 {
  list-style: none;
}
.contact-info-2 li {
  float: left;
  font-size: 16px;
  margin-left: 5px;
}


@media only screen and (max-width: 767px) {


	.download-button {
		margin-top:20px;
		margin-bottom:0px;
	}
	
  .hide-on-phone {
    display: none;
  }
  .wrap {
    box-shadow: 0 0 4px #606060;
    box-shadow: 0 0 4px #606060;
    margin: 25px auto;
    padding: 60px 0;
    width: auto;
  }
  .wrap + .wrap {
    box-shadow: 0 4px 4px -2px #606060;
    box-shadow: 0 4px 4px -2px #606060;
    margin-top: -180px;
  }
  .cv-profile {
    font-size: 17px;
  }
  .contact-info {
    margin-top: 20px;
  }
  .contact-info li {
    float: left;
    margin-right: 10px;
  }
  .logo {
    margin-bottom: 0px;
    text-align: center;
  }
  .cv-item-description {
    text-align: left;
  }
  .cv-item-description h6 {
    padding: 10px;
  }
  .cv-item {
    margin-bottom: 40px;
  }
  .cv-section-title {
    color: $highlight;
    margin: -10px 0 40px 0;
  }
  .portfolio-items {
    margin: 0 0 40px 0;
    padding: 40px 0;
  }
  .skill {
    margin-bottom: 20px;
  }
  .contact-info-2 {
    margin-top: 20px;
  }
  .contact-info-2 li {
    float: none;
  }
}

@media print {
  body {
    background-color: #fff;
    padding: 0;
  }
  .wrap {
    box-shadow: none;
    box-shadow: none;
    padding: 40px 80px;
  }
  .level {
    margin-top: -10px;
    text-indent: 0;
  }
  .portfolio-items {
    border-bottom: 0;
    padding: 40px 0;
  }
  .l-1, .l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10 {
    width: 100%;
  }
  .skill p {
    display: none;
  }
  .contact-info-2 li {
    float: none;
  }
  .contact-info-2 .hide-on-phone {
    display: none;
  }
}

footer {
	color:#ffffff;
	padding:10px 10px 20px;
	text-align: center;
}
