/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  -webkit-backface-visibility: hidden;
  display: none;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  display: block;
  max-width: 100%;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  background-color: none;
  position: relative;
  zoom: 1;
}

.ie7 .flexslider {
  margin-bottom: 0px;
}

.flex-viewport {
  max-height: 2000px;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

/* Direction Nav - left right navigation */

.flex-direction-nav a {
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  background-color: #000;
  background-color: #222;
  background: rgba(0, 0, 0, 0.65);
  bottom: 50%;
  cursor: pointer;
  display: block;
  float: none;
  height: 26px;
  opacity: 0.5;
  position: absolute;
  right: -55px;
  text-indent: -9999px;
  transition: all 0.1s ease-in-out;
  width: 26px;
}


/* Control Nav - pager navigation*/

.flex-direction-nav {
	background:pink;
}

.flex-direction-nav .flex-next {
  background: url(images/bg_direction_nav.png) no-repeat -30px 0;
}
.flex-direction-nav .flex-prev {
  background: url(images/bg_direction_nav.png) no-repeat 0 0;
  left: -55px;
}
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-control-nav {
  bottom: -57px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.ie7 .flex-control-nav {
  bottom: -15px;
}
.flex-control-nav li {
  *display: inline;
  display: inline-block;
  margin: 0 0 0 0;
  zoom: 1;
}
.flex-control-paging li a {
  background: #e2e2e2;
  cursor: pointer;
  display: block;
  height: 5px;
  text-indent: -9999px;
  width: 50px;
}
.flex-control-paging li:first-child a {
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 0 0 20px;
}
.flex-control-paging li:last-child a {
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 0 20px 20px 0;
}
.flex-control-paging li a.flex-active {
  background: #0071bc;
}
.flex-control-paging li a:hover {
  background: #ccc;
}
.flex-control-paging li a.flex-active:hover {
  background: #0071bc;
}
.flex-control-paging li a.flex-active {
  cursor: default;
}

@media only screen and (max-width: 959px) {
  .flex-direction-nav a {
    right: 15px;
  }
  .flex-direction-nav .flex-prev {
    left: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .flex-direction-nav {
    display: none;
  }
  .flex-control-nav {
    bottom: -20px;
  }
}
