/*

	Name: grid.css
	Version: 1.0.0

	-

	Table of Contents
========================

    #Base Grid
	#Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Align
	#Responsive Images and Embeds
	#Clearing Content

*/

/*  #Base  Grid
==================================================================================================== */

.row {
  margin: 0 auto;
  position: relative;
  width: 760px;
}

.row .row {
  margin: 0;
  width: auto;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  float: left;
}

.span1 {
  margin-left: 20px;
  width: 45px;
}

.span2 {
  margin-left: 20px;
  width: 110px;
}

.span3 {
  margin-left: 20px;
  width: 175px;
}

.span4 {
  margin-left: 20px;
  width: 240px;
}

.span5 {
  margin-left: 20px;
  width: 305px;
}

.span6 {
  margin-left: 20px;
  width: 370px;
}

.span7 {
  margin-left: 20px;
  width: 435px;
}

.span8 {
  margin-left: 20px;
  width: 500px;
}

.span9 {
  margin-left: 20px;
  width: 565px;
}

.span10 {
  margin-left: 20px;
  width: 630px;
}

.span11 {
  margin-left: 20px;
  width: 695px;
}

.span12 {
  margin-left: 20px;
  width: 760px;
}

.span1:first-child,
.span2:first-child,
.span3:first-child,
.span4:first-child,
.span5:first-child,
.span6:first-child,
.span7:first-child,
.span8:first-child,
.span9:first-child,
.span10:first-child,
.span11:first-child,
.span12:first-child {
  margin-left: 0;
}

/*  #Tablet (Portrait)
==================================================================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .row {
    width: 705px;
  }
  .span1 {
    margin-left: 15px;
    width: 45px;
  }
  .span2 {
    margin-left: 15px;
    width: 105px;
  }
  .span3 {
    margin-left: 15px;
    width: 165px;
  }
  .span4 {
    margin-left: 15px;
    width: 225px;
  }
  .span5 {
    margin-left: 15px;
    width: 285px;
  }
  .span6 {
    margin-left: 15px;
    width: 345px;
  }
  .span7 {
    margin-left: 15px;
    width: 405px;
  }
  .span8 {
    margin-left: 15px;
    width: 465px;
  }
  .span9 {
    margin-left: 15px;
    width: 525px;
  }
  .span10 {
    margin-left: 15px;
    width: 585px;
  }
  .span11 {
    margin-left: 15px;
    width: 646px;
  }
  .span12 {
    margin-left: 15px;
    width: 705px;
  }
}

/*  #Mobile (Portrait)
==================================================================================================== */

@media only screen and (max-width: 767px) {
  .row {
    width: 280px;
  }
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    margin-left: 0;
    width: 280px;
  }
}

/*  #Mobile (Landscape)
==================================================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row {
    width: 420px;
  }
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    margin-left: 0;
    width: 420px;
  }
}

/*  #Align
==================================================================================================== */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*  #Responsive Images and Embedss
==================================================================================================== */

.responsive-img {
  height: auto;
  max-width: 100%;
}

.responsive-embed {
  /* 16/9 ratio */
  height: 0;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding: 0px;
  position: relative;
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*  #Clearing
==================================================================================================== */

.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.row {
  display: block;
}

/*  \*/

.row {
  min-height: 1%;
}

* html .row {
  height: 1%;
}

/* Clear Fix Hack - add  class="fixed"  to div's that have floated elements in them */
.fixed:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.fixed {
  display: block;
}

/*  \*/
.fixed {
  min-height: 1%;
}

* html .fixed {
  height: 1%;
}

/* Clear <br class="clear" /> */
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
